:root {
  --primary: #b6895b;
  --bg: #010101;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 2820px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #83603c;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2.3rem;
  font-style: italic;
  font-weight: 700;
  color: #fff;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-ex a {
  color: #ffffff;
  margin: 0 0.5rem;
}

.navbar .navbar-ex a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/kopi-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 10%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  color: #fff;
  font-size: 5rem;
  text-shadow: 1px 1px 1px rgba(1, 1, 3, 0.5);
  line-height: 1;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 1.5rem;
  font-style: italic;
  text-shadow: 1px 1px 1px rgba(1, 1, 1, 1);
  mix-blend-mode: difference;
}

.hero .content .cta {
  font-size: 1.6rem;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--primary);
  color: #fff;
  border-radius: 1rem;
  text-shadow: 1px 1px 1px rgba(1, 1, 3, 0.5);
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content a:hover {
  color: var(--bg);
}

/* about saction */
.about {
  background-color: #b6895b;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 20)
  );
  pointer-events: none;
}

.about,
.menu,
.contact {
  padding: 6rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 4rem;
}

.about h2 span,
.contact h2 span {
  color: var(--bg);
}

.about .row {
  display: flex;
  margin-top: 1.5rem;
}

.about .row .about-img {
  flex: 40rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 40rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about .row .content h3 span {
  color: var(--bg);
  font-size: 2.2rem;
}

.about .row .content p {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  line-height: 1.5rem;
}

/* menu secton */
.menu {
  position: relative;
}

.menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(
    to top,
    rgba(182, 137, 91, 0),
    rgba(0182, 137, 91, 0),
    rgba(182, 137, 91, 2)
  );
  pointer-events: none;
}

.menu h2 span {
  color: var(--primary);
}

.menu p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
}

.menu .row .card {
  text-align: center;
  margin: 0 2rem 2rem;
}

.menu .row .card img {
  width: 200px;
  border-radius: 50%;
}

.menu .row .card .card-name {
  margin: 1rem auto 0.2rem;
  font-size: 1.5rem;
  color: var(--primary);
}

/* contact section */
.contact {
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
  position: relative;
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 50)
  );
  pointer-events: none;
}

.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  line-height: 1.5rem;
}

/* media queries */
/* leptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 25rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0%;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.2rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.2rem;
  }

  .menu .row .card img {
    width: 150px;
  }
}

/* phone */
@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
  .navbar .navbar-nav {
    width: 14rem;
  }

  .navbar-ex svg {
    width: 16px;
    height: 16px;
  }

  .hero .content h1 {
    font-size: 4rem;
  }

  .hero .content p {
    font-size: 1rem;
  }

  .hero .content .cta {
    font-size: 1.2rem;
  }

  .about .row .content h3 {
    font-size: 2rem;
  }

  .about .row .content h3 span {
    font-size: 2.3rem;
  }

  .menu .row .card img {
    width: 100px;
  }
}

